config = {
    "wlan_ssid": "SSID",
    "wlan_pass": "PASSWORD",
    "server_host": "IP Address",
    "room_id": "myroom",
    "basic_auth_username": "testuser",
    "basic_auth_password": "testpassword",
}
